* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --font-size: 16px;
    --cor-escura: #2d2d2d;
    --cor-clara: #dedede;
    --cor-destaque: #e89f0c;
}    


html {
    scroll-behavior: smooth;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: .5rem;
    text-align: center;   
    text-transform: uppercase;
    font-weight: 600; 
    font-size: .75rem;    
    background-color: var(--cor-escura);
    color: #fff;  
}
  
.nav-list li {
    display: inline-block;        
    margin: 0 1rem;               
}
  
.nav-list a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
    display: inline-block;        
}

.button {
    background-color: var(--cor-destaque);
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    font-size: .75rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
}

header {
    background-image: url(home.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 80vh; 

    color: #fff;
    text-align: center;
}

.header_content {
    position: relative;
    top: 20vh;
}

.header_content > p {
    margin-bottom: 1.2rem;
}

.header_title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.menu {
    text-align: center; 
    display: inline-block;
}

.menu > h2 {
    font-size: 2rem;
    margin: 2.5rem;
}

.sabores > li {
    display: inline-block;
}

.card {
    display: inline-block;
    background-color: var(--cor-clara);
    border-radius: .5rem;
    height: 23rem;
    width: 23rem;
    margin: 1rem;
    text-align: left;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
    transform: scale(1.01);
}
.card_img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
}

.card > h3,
.card > p {
    padding-top: 1rem;
    padding-left: .75rem;
    font-size: 1rem;
}

.about_us {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.094), rgba(0, 0, 0, 0.7)),
    url(sobreNos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 13rem;

    text-align: center;
    color: #fff;
    margin-top: 3rem;
}

.about_us > h2 {
    padding-top: 3.7rem;
    font-size: 2rem;
}

.about_us > p {
    margin-top: 1.2rem;
}

.contact{
    text-align: center;
    margin: 2rem;
}

.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;  
}
  
.contact ul li {
    display: inline-block;
    vertical-align: top;   
    margin: 0 1rem;  
    padding: 0;
}

.contact h2 {
    font-size: 2rem;
    margin: 1.5rem;
}

.contact > h2 + p {
    margin: 2rem;
}

.email {
    color: var(--cor-destaque);
    text-decoration: underline;
    cursor: pointer;
}

.button_2 {
    background-color: var(--cor-destaque);
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    font-size: .75rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 2.5rem;
}

.footer {
    background-color: var(--cor-escura);
    color: var(--cor-destaque);
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
    font-size: .85rem;
}